node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
._*

# Env
.env
.env.*
!.env.example
!.env.test

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
